extends layout

block content
  h1= title
  
  form(role='form', method='post', action='/createlink')
    input(type='text', placeholder='filename', name='filename')
    br
    input(type='submit', value='Create')
